.button {
    background: $blue;
    color: white;
    padding: $s-size;
    border: none;
    font-size: $font-size-large;
    font-weight: 300;
    text-decoration: none;
    display: inline-block;
    line-height: 1;
}

.button--link {
    @extend .button;
    background: none;
}

.button--delete {
    background: rgb(240, 61, 61);
}

.button--success {
    background: #28a745;
    flex-grow: .4;
}

.button--danger {
    background: #dc3545;
    flex-grow: .4;
}

.button-login {
    border: none;
    padding: 0;
}

.button-login--google {
    margin-bottom: $m-size;
}