.button {
    background: $blue;
    color: white;
    padding: $s-size;
    border: none;
    font-size: $font-size-large;
    font-weight: 300;
    text-decoration: none;
    display: inline-block;
    line-height: 1;
}

.button--link {
    @extend .button;
    background: none;
}

.button--delete {
    background: rgb(240, 61, 61);
}