.header {
    background: $dark-blue;    
}

.header__content {
    padding: $s-size 0;
    display: flex;
    justify-content: space-between;
}

.header__title {
    color: white;
    text-decoration: none;
}

.header__title h1 {
    margin: 0;
}